//@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
}

h5,
p
{
    margin: 0;
}

h5 {
    font-size: 1.25em;
}

input,
textarea,
button
{
    font-family: Roboto, sans-serif;    // ! cały czas i tak "jakaś" czcionka domyślna była dostępna
    font-size: 1em;
    padding: 0.25em;    // ta wartość się zmienia względem styli domyslnych przegląarek, zwłaszca dla ":hover"
}

input[type="text"] {
    border-width: 2px;  // bez tego w IE zmienia się wysokość elementu, gdy ":hover"
}