.wrapper {
    position: absolute;
    top: 0;
    right: 100px;
    width: 300px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 20px;
    transition: right 0.3s;

    .outer-click {
      position: absolute;
      top: 3em;
      left: -3.53em;
      color: black;
      background-color: yellow;
      font-size: 2em;
      padding: 0.25em;
      transform: rotateZ(270deg);

      &:hover {
        background-color: #f1f100;
        cursor: pointer;
      }
    }
}

.wrapper.moved {
  right: -330px;
}


.chat {
  position: absolute;
  bottom: 0;
  display: flex;
  width: calc(100% - 40px);
  height: 90%;
  flex-direction: column;

  header {
    order: 1;
    height: 40px;
    flex-basis: 23px;
    padding: 10px;

    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
  }

  section {
    order: 2;
    flex-basis: 100%;
    padding: 10px;

    background-color: #fff;
    color: rgba(0, 0, 0, 0.7);
    overflow: auto;
  }

  footer {
    order: 3;
    background-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
   }
  } // .chat-END

.message {
  border-bottom: 1px rgba(0, 0, 0, 0.07) dashed;
  padding: 5px;
  font-size: 12px;

  span {
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
  }
} // .message-END

.textarea {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  color: #d9a646;
  background-color: transparent;
  resize: none;
}

.button {
  border-radius: 0;
  border: 2px solid #d9a646;
  color: #d9a646;
  background: transparent;
  float: right;
  margin: 5px;
  outline: none;
}

.button:hover {
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}
