@import '../index.scss';
/* @import '../sass-partials/colors';
@import '../sass-partials/page-globals';
 */

/* 

$red: red;
$like-red: #d11c1c;
$light-red: lighten(red, 25);

$color-primary: #1717a7;
$color-primary-lighten: lighten($color-primary, 30%);
$color-secondary: #3f3fe7;
// #1e5799 ; ##7db9e8

$color-dark-text: #333;
$color-light-text: #ddd; 

*/

$bookmark-color: yellow;
$bookmark-color-hover: #f8f800;

$chat-main-color: #333;
$chat-secondary-color: #666;


$chat-width: 300px;
$chat-max-width: 500px;


.wrapper {
    position: absolute;
    z-index: 900;
    top: -3em;
    right: 5px;
    width: 300px;
    height: 120vh;
    min-height: 600px;  // dodano, by obszar wokół (kontener) był zawsze wyższy niż 500px chatu
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 1em;
    border-left: 0.75em solid #333;;
    transition: right 0.3s, transform 0.3s;

    .outer-bookmark {
      position: absolute;
      width: 200px;
      top: 8em;
      left: -5.05em;
      z-index: 999;
      text-align: center;
      color: black;
      background-color: $bookmark-color;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
      font-size: 1.5em;
      padding: 0.25em 1em;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
      transform: rotateZ(270deg);
      transition: background-color 0.2s 0.05s;

      &:hover {
        background-color: $bookmark-color-hover;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
        cursor: pointer;
      }
    }
}

.wrapper.moved {
  right: 20px - $chat-width;
      transform: rotateZ(-3deg);
}


.chat {
  position: absolute;
  top: 4em; // dodano to położenie, usunięto wysokość elementu!
  bottom: 8em;
  min-height: 500px;
  /* height: 84vh; */ // dodano margines górny, zamist tej definicji

  display: flex;
  width: calc(100% - 40px);
  flex-direction: column; 
  border: 2px solid $color-primary;
  border-radius: 1em;
  // background: radial-gradient(ellipse at center, $color-primary 0%, $color-secondary 100%);

  header {
    order: 1;
    height: 3em;
    min-height: 3.5em;  /* uwzględdnia tę wysokość */
    flex-basis: 1.5em;
    font-size: 1em;
    padding: 0.75em;
    color: #fff;
    font-weight: bold;
    background-color: $color-primary; /* rgba(0, 0, 0, 0.9); */
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
  }

  section {
    order: 2;
    flex-basis: 100%;
    padding: 10px;

    background-color: #fff;
    color: rgba(0, 0, 0, 0.7);
    overflow: auto;
  }

  footer {
    order: 3;
    background-color: $color-primary; /* rgba(100, 50, 20, 0.9); */
    min-height: 11em;
    flex-basis: 10em;
    border-bottom-left-radius: 0.75em;
    border-bottom-right-radius: 0.75em;

    .nick-selection {
      position: relative;
      padding: 0.5em;
      padding-bottom: 1em;
      min-height: 10em;

      p {
        color: white;
      }

      div:first-of-type {
        display: flex;
        flex-direction: column;

        input {
          margin-top: 0.5em;
          padding: 0.25em;
          color: $color-primary;
          // border-width: 2px;

          &:hover {
            background-color: darken(white, 10);
            // border-width: 2px;
          }

          &.bad-or-empty {
            background-color: $error-background-color;
            border-color: lighten($red, 15);

            &:hover {
              background-color: darken($error-background-color, 3); // !!! nie można wywołać kolejnego lighten(), dla wartości oblicoznej z lighten() !!!
              // background-color: red; // zwykła lub bezpośrednia wartość lub zmienną wyświetli od razu w zmienionym stanie
            } 
          } // &.bad-or-empty-END
          

        } // input-END

        button {
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          padding: 0.2em;
        }



      } // div:first-of-type-END

      .nickname-error {
        position: absolute;
        top: -4em;
        // width: 90%;
        left: 0.5em;
        right: 0.5em;
        padding: 0.25em;
        text-align: center;
        color: white;
        background-color: $like-red;
        border: 3px solid lighten($like-red, 5);
      } // .nickname-error-END


    } // .nick-selection-END


    .chat-controls {
      display: flex;
      flex-direction: column;
      background-color: $color-primary-lighten;
      padding: 0.5em;
      padding-bottom: 0.75em;

      .textarea {
          // width: 77%;
          //min-width: ;
          //margin-right: 5em;
        font-size: 1.15em;
        flex-grow: 2;
        height: 100%;
        min-height: 5em;
        border: 0px;
        padding: 0.5em;
        // outline: none;
        color: #111111; /* #d9a646; */
        background-color: lighten($color: $color-primary, $amount: 50);  /* transparent; */
        resize: none;
      }
      
      .send-button {
        // float: right;
          // margin: 0.2em;
        font-size: 1.1em;
        margin-top: 0.75em;
        margin-bottom: 0.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        border-radius: 4px;
        color: #d9a646;
        background: transparent;
        border: 2px solid #d9a646;
        // outline: none;
      }
      
      .send-button:hover {
        border: 2px solid #fff;
        color: #fff;
        cursor: pointer;
      }
    } // .chat-controls-END
    

   }  // footer-END
  } // .chat-END

.message {
  border-bottom: 1px rgba(0, 0, 0, 0.07) dashed;
  padding: 5px;
  font-size: 12px;

  span {
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
  }
} // .message-END



/* -----------------------   KWERENDY   ----------------------- */

@media only screen and (min-width: 800px) {
  $chat-width: 400px;
  
  .wrapper {
    width: $chat-width;
    //$chat-max-width: 500px;
  }

  .wrapper.moved {
    right: 10px - $chat-width;
  }

  .chat footer .nick-selection .nickname-error {
    top: -2.5em;
  }

}