@import '../sass/main.scss';

  // ZMIENNE KOMPONENTU <CHAT>
$chat-width: 300px;
$chat-max-width: 500px;

$width-treshold: 750px;

// @media only screen and (min-width: 750px) {
$media-750w: "only screen and (min-width : 750px)";  // ustawiono 750px jak w progu zmiany szerokości powyżej

// późniejsze użycie w danym elemencie jako wartościowanie danej zmiennej: 
/* @media #{$media-750w} {
  // ... 
} */


.wrapper {
    position: absolute;
    z-index: 900;
    top: -3em;
    right: 0px;
    width: 300px;
    height: 120vh;
    min-height: 600px;  // dodano, by obszar wokół (kontener) był zawsze wyższy niż 500px chatu
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 1em;
    border-left: 0.75em solid #333;;
    transition: right 0.3s, transform 0.3s;

    .outer-bookmark {
      position: absolute;
      width: 200px;
      top: 8em;
      left: -5.05em;
      z-index: 999;
      text-align: center;
      color: black;
      background-color: $bookmark-color;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
      font-size: 1.5em;
      padding: 0.25em 1em;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
      transform: rotateZ(270deg);
      transition: background-color 0.2s 0.05s;

      &:hover {
        background-color: $bookmark-color-hover;
        text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
        cursor: pointer;
      }
    } // .outer-bookmark-END
}

.wrapper.moved {
  right: 20px - $chat-width;
      transform: rotateZ(-3deg);
}


.chat {
  position: absolute;
  top: 4em; // dodano to położenie, usunięto wysokość elementu!
  bottom: 8em;
  min-height: 500px;
  /* height: 84vh; */ // dodano margines górny, zamist tej definicji

  display: flex;
  width: calc(100% - 40px);
  flex-direction: column; 
  border: 2px solid $color-primary;
  border-radius: 1em;
  // box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.4);

  header {
    position: relative;
    order: 1;
    height: 5.75em;
    min-height: 6em;  /* uwzględdnia tę wysokość */
    flex-basis: 1.5em;
    font-size: 1em;
    padding: 0.75em 0.5em;
    color: #fff;
    font-weight: bold;
    background-color: $color-primary; /* rgba(0, 0, 0, 0.9); */
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;

    .logged-in-info {
      margin: 0.5em -0.6em;   // aby rozszerzyć na obszarze rodzica i ewentualeni zasłonić swoją treścią to co poniżej/dalej w wtreści
      padding: 0.5em;
      background-color: $color-primary;
      word-break: break-all;  // automatyczne łamanie do nowej linii dla długich wyrazów | alternatywnie "overflow-wrap: break-word", ale mniejsze wsparcie
      overflow-wrap: break-word;  // nie dla IE, ale radzi sobie świetnie z "word-break: break-all;"

      @media #{$media-750w} {
        padding-right: 5.3em; // prawy +4.8 względem standardu! (ulepszenie, aby pod przycisk się nie chował tekst)
      }

      span {

        strong {
          font-size: 1.1em;
          text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
          color: #f9f900; // przykład
          word-break: break-all; // !!! mogą być różne długie treści od użytkownika (np. te same znaki po sobie BEZ SPACJI!)
          overflow-wrap: break-word;  // lepsze, ale IE tego nie ogarnia (tam jest: "word-break: break-all;")
        }
      } // span-END

      .chat-logout {
        position: absolute;
        top: 0.75em;
        right: 0.5em;
        padding: 0.5em 1em;

        @media #{$media-750w} {
          top: 2.25em;
        }
      } // .chat-logout-END
    } // .logged-in-info-END

  } // header-END


  .messages {
    order: 2;
    flex-basis: 100%;
    padding: 0.25em;
    background-color: #fff;
    overflow: auto;
  }


  footer {
    order: 3;
    background-color: $color-primary; /* rgba(100, 50, 20, 0.9); */
    min-height: 13.5em;
    flex-basis: 11.5em;
    border-bottom-left-radius: 0.75em;
    border-bottom-right-radius: 0.75em;

    .chat-controls {
      position: relative;
      display: flex;
      justify-content: space-between;
      background-color: lighten($color-secondary, 20);

      .message-edit {
        position: absolute;
        z-index: 15;
        bottom: 5.5em;
        left: 1em;
        right: 1em;
        padding: 0.5em;
        padding-bottom: 0.5em;
        border-radius: 0.3em;
        border: 2px solid $color-primary;
        box-shadow: 0px 0px 4px 3px rgba(255, 255, 255, 0.8);
        background-color: $color-primary-lighten;
        // cursor: pointer;

        @media #{$media-750w} {
          bottom: 4.5em;
          // left: 0.5em;
          right: 2em;
        }

        h5 {
          text-align: center;
        }

        textarea {
          min-height: 6.75em;
          margin: 1em 0;
          resize: none;

          @media #{$media-750w} {
            min-height: 7.75em;
          }
        }

        div {
          display: flex;

          button {
            margin: 1em 0;
          }

          button:first-of-type {
            margin-right: 1em;
          }
        }

      } // .message-edit-END

      .info-content {
        position: absolute;
        z-index: 10;
        bottom: 3.5em;
        left: 0.25em;
        right: 0.75em;
        padding: 0.4em;
        padding-bottom: 0.5em;
        border-radius: 0.3em;
        background-color: $color-primary-lighten;
        border: 2px solid $color-primary;
        box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.8);
        cursor: pointer;

        @media #{$media-750w} {
          bottom: 3.75em;
          left: 0.5em;
          right: 1.5em;
        }

        h5 {
          text-align: center;
          margin-bottom: 0.5em;
        }

        img {
          padding: 0.25em 0.5em;
          background-color: #ddd;
          vertical-align: middle;

          @media #{$media-750w} {
            //vertical-align: baseline;
            margin-bottom: 0.25em;
          }
        }

        p {
          text-align: justify;
        }

      } // .info-content-END

      button {
        flex-basis: 4em;
        flex-grow: 1;
        margin: 0.75em;
        padding: 0.2em 0.5em;
        padding-bottom: 0;
/*         @media #{$media-750w} {
          margin-top: 0.75em;
        } */
      }

      button:first-of-type {
        margin-left: 0.5em;
      }

      button:last-of-type {
        margin-right: 0.5em;
      }

    } // .chat-controls-END

    .nick-selection {
      position: relative;
      padding: 0.5em;
      padding-top: 0;
      padding-bottom: 1em;
      min-height: 10em;

      p {
        color: white;
        padding: 0.25em 0;
        text-align: justify;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

        @media #{$media-750w} {
          padding: 1em 0;
        }
      }

      div:first-of-type {
        display: flex;
        flex-direction: column;

        @media #{$media-750w} {
          flex-direction: row;
          align-items: baseline;
        }

        input {
          display: block;
          margin-top: 0.5em;
          padding: 0.3em;
          color: $text-color-darker;
          // border-width: 2px;

          @media #{$media-750w} {
            flex-grow: 2;
            padding: 0.4em;
          }

/*           &:hover {
            // background-color: darken(white, 10);
          } */

          &.bad-or-empty {
            background-color: $error-background-color;
            border-color: lighten($red, 15);

            &:hover {
              background-color: lighten($error-background-color, 5); // !!! nie można wywołać kolejnego lighten(), dla wartości oblicoznej z lighten() !!!
              // background-color: red; // zwykła lub bezpośrednia wartość lub zmienną wyświetli od razu w zmienionym stanie
            } 
          } // &.bad-or-empty-END
        } // input-END

        button {
          // display: block;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          padding: 0.25em;

          @media #{$media-750w} {
            margin-left: 0.5em;
            padding: 0.5em 1em;
          }
        } // button

      } // div:first-of-type-END

      .nickname-error {
        position: absolute;
        z-index: 100;
        top: -7em;
        // width: 90%;
        left: 0.5em;
        right: 0.5em;
        padding: 0.25em;
        text-align: center;
        color: white;
        background-color: $like-red;
        border: 3px solid lighten($like-red, 5);
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);

        @media #{$media-750w} {
          top: -5.75em;
        }
      } // .nickname-error-END

    } // .nick-selection-END

    .message-sending {
      display: flex;
      flex-direction: column;
      // background-color: $color-primary-lighten;
      padding: 0 0.5em;
      padding-bottom: 0.75em;

      @media #{$media-750w} {
        flex-direction: row;
        align-items: center;
        padding-top: 0.25em;
        // margin-top: 0.5em;
      }

      .textarea {
          // width: 77%;
          //min-width: ;
          //margin-right: 5em;
        font-size: 1em;
        flex-grow: 2;
        // flex
        height: 100%;
        min-height: 6.75em;
        border: 0px;
        padding: 0.5em;
        // outline: none;
        color: $text-color-darker; // #111111; /* #d9a646; */
        // background-color: lighten($color: $color-primary, $amount: 50);  /* transparent; */
        overflow-y: hidden;
        resize: none;

        @media #{$media-750w} {
          min-height: 7.5em;
        }
      }
      
      .send-button {
        // float: right;
          // margin: 0.2em;
        font-size: 1.1em;
        font-weight: bold;
        margin-top: 0.75em;
        margin-bottom: 0.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        border-radius: 0.25em;
        color: darken( $color-primary, 5); // #d9a646;
        // background-color:  ; // transparent;
        border: 2px solid $color-secondary;
        box-shadow: 0px 0px 3px 1px rgba(255,255,255, 0.4);
        transition: border-color 0.3s, color 0.3s, box-shadow 0.25s;
        // outline: none;

        &:hover,
        &:focus
        {
          // border: 2px solid #fff;
          color: darken( $color-primary, 25);
          box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.75);
          cursor: pointer;
        }

        @media #{$media-750w} {
          margin: 0;
          margin-left: 0.5em;
          padding: 2.75em 0.25em;
        }
      }


    } // .message-sending-END

  }  // footer-END
} // .chat-END




/* -----------------------   KWERENDY   ----------------------- */

// te kwerendy dodatkowo definiują zmienną szerokość elementów, dlatego dla uproszczenia projektu zostają globalnie przekazane

@media only screen and (min-width: 750px) {
  $chat-width: 400px;
  
  .wrapper {
    width: $chat-width;
  }

  .wrapper.moved {
    right: 10px - $chat-width;
  }

}